// Styling for the team section
.contact {
  margin-bottom: 50px;
  text-align: left;
  img {
    width: 150px;
    height: 150px;
    border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
